@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #e0e4e8d0;
}
.book-img{
  width: 100px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.2rem;
}

.book-list{
  width: 90vw;
  max-width: 900px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media  screen and (min-width: 768px) {
  .book-list{
    grid-template-columns: repeat(6,1fr);
  }
  
}

.book{
  background-color: #e6ebed56;
  border-radius: 0.4rem;
  padding: 0.6rem 2rem;
  background-color: #ebecf5;
  box-shadow: #63636333 0px 2px 8px 0px;
}
.book h3{
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 0.78rem;
}
.book h5{
  font-weight: 400;
  letter-spacing: 0.03rem;
  color: #a1a6dc;
  font-size: 0.6rem;
  margin-top: 0.19rem;
}
.book p{
  color: #e06d6d;
  margin-top: 0.7rem;
  font-size: 0.96rem;
}
.buy-btn{
  border: none;
  background-image: linear-gradient(to right, #de81b3 0%, #d6348b 51%, #c5277b 100%);
  padding: 0.24rem 0.7rem;
  border-radius: 0.23rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;;
}
.buy-btn:hover{
  background-position: right center;
}